.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    transition: all 200ms;
    z-index: 10;
    outline-offset: 2rem; // Space between border(outline) and element that has outline

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0rem;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 11rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary; // Like a border, but outside
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.6);
      z-index: 11;
    }
  }

  // Style elements, except the hovered one
  // composition:hover composition__photo:not(:hover) {}
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
